html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden; 
    max-width: 100%;
}

img, video {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.text-green {
    color: $green;
}

.text-pink {
    color: $pink;
}

.text-white {
    color: $white;
}

.text-grey {
    color: #474646;
}

.text-green, .text-white {
    /*font-size: 125%;*/
    font-size: 100%;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 1.12rem;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 5px;
}

li {
    font-size: 1.1rem;
    padding: 15px;
    line-height: 1.5;
}

.fa-li, .fa-clr {
    font-size: 1.25rem;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    @mixin atMedium {
        right: 30px;
    }
    z-index: 99;
    font-size: 1.5rem;

    a {
       color: $white;
    }
}

.map-section {
    &__wrapper {
        overflow: hidden;
        resize: none;
        max-width: 100%;
        width: 100%;
        height: 400px;
    }
}

#embed-map-canvas {
    height: 100%; 
    width: 100%;
    max-width: 100%;

    iframe {
        height:100%;
        width:100%;
        border:0;
    }
}

.section-heading {
    font-size: 1.8rem;
    @mixin atMedium {
        font-size: 2.4rem;
    }
    text-align: center;
    text-transform: uppercase;
    margin: 3rem;
    color: $black;
}

.amenity {
    &__sec {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;

        @mixin forSmall {
            gap: 4rem;
            margin-block: 0;
        }

        div {
            padding: 3rem 6rem;
            @mixin atMedium {
                padding: 3rem 8rem;
            }
            background-color: #f7f7f7;

            div {
                width: 100px;
                height: 100px;
                border: 1px solid $green;
                border-radius: 50%;
                padding: 2rem;
                margin: 0 auto;
            }
        }

        /* div:nth-child(1) {
            background: url('./assets/images/ep24.jpg') no-repeat center;
            background-size: contain;
            opacity: 0.5;
        }

        div:nth-child(2) {
            background: url('./assets/images/ep25.jpg') no-repeat center;
            background-size: contain;
        }

        div:nth-child(3) {
            background: url('./assets/images/ep21.jpg') no-repeat center;
            background-size: contain;
        }*/

        p {
            margin-top: 2rem;
            text-align: center;
            font-style: italic;

            span {
                font-size: 1.5rem;
                font-style: normal;
            }
        }
        
        i {
            color: $pink;
            font-size: 200%;
            display: flex;
            justify-content: center;      
        }
    }
}