.site-header {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;*/
    display: none;
    
    &--is-visible {
        display: block;
        opacity: 1;
        transform: scale(1);
        z-index: 1;
    }

    @mixin atMedium {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white;
        padding: 0 6.25rem;
    }

    img {
        width: 250px;
        padding: 1.5rem;
        @mixin forSmall {
            display: none;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        @mixin atMedium {
            flex-direction: row;
        }
        

        li {
            @mixin forSmall {
                margin: .6rem 0;
            }

            @mixin atMedium {
                margin-right: 2rem;
            }

            a {
                color: $black;
                text-decoration: none;
        
                &:hover {
                    color: $pink;
                }
            }

            &:last-child {
                margin-right: 0;
                border-radius: 5px;
                transition: transform .3s ease-in;
                cursor: pointer;
                text-transform: uppercase;
                transform: scale(.9);
                /*border: 2px solid $pink;*/
                background: $black;

                a {
                    color: $white;
                }

                &:hover {
                    transform: scale(.8);
                    color: $pink;
                }
            }
        }
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $white;
            width: 20px;
            height: 3px;
            transform-origin: 0 0; /*top left point*/
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $white;
            width: 20px;
            height: 3px;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $white;
            width: 20px;
            height: 3px;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &--is-expanded {
        background-color: $black;
        z-index: 1;
    }

    &--hide {
        display: none;
    }
}