.carousel-item img {
  height: auto;
  width: 100vw;
  object-fit: cover;
}

.carousel-item h1 {
  font-size: 1rem;
  @mixin atMedium {
    font-size: 2.25rem;
    font-weight: 400;
    max-width: 800px;
  }
}

.carousel-caption {
  top: 0;
  bottom: 0;
}

.carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}